.root {
    -fx-background-image: url("nuvem.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;

}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}

.image-logo-lateral{



}

.question-root{
    -fx-background-color: #Ffffff;
}

.button {
    -fx-border-radius: 0;
    -fx-background-color: #DB4C40 ;
    -fx-text-fill: #FFFFFF ;
    -fx-font-weight: bold;
    -fx-pref-width: 120;
    -fx-pref-height: 40;
}

.label{
    -fx-text-fill: black;
}

.question-label{
    -fx-text-fill: #3C153B;
    -fx-font: 30px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.answer-label{
    -fx-text-fill: #3C153B;
    -fx-font: 20px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;                                                           
    -fx-stroke-width: 1;                                                         

}

.hyperlink{
    -fx-text-fill: black;
}

.label-custom{
    -fx-text-fill: black;
}

.custom-pane-top{
     -fx-background-color: #CBC7DA;
     -fx-pref-height: 20px;
}

.custom-pane{
    -fx-background-color: #41337A;
    -fx-pref-height: 20px;

}

.back-btn {
    -fx-background-color: #DB4C40;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20 20 20 20;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    
}

.image-logo{

    -fx-pref-width: 100px;
    -fx-pref-height: 100px;

}

.menu, .menu-item, .context-menu {
    -fx-text-fill: white;
    -fx-background-color: #ff3c2d ;
}